<h2>Current Clients of Your Hair Salon</h2>
<% if @clients.any?() %>
  <ul id="clientInfo">
    <% @clients.each() do |client| %>
      <li><strong><%= client.name %> </strong>||<em><%= client.contact %></em> || <%= client.stylist_id %></li>
    <% end %>
  </ul>
<% else %>
  <h2>You have no clients!</h2>
<% end %>
<p>
  <a href="/new_client_form"><h2>Add a New Client!</h2></a>
</p>
<div>
  <a href="/">Back to Main</a>
</div>
