<h2>Current Clients of Your Hair Salon</h2>
<% if @clients.any?() %>
  <ul>
    <% @clients.each() do |client| %>
      <li><a href="/clients/<%= client.id() %>"><strong><%= client.name() %></strong> || <em><%= client.contact() %></em> || <%= client.stylist_id() %></a></li>
    <% end %>
  </ul>
<% else %>
  <h2>You have no clients!</h2>
<% end %>
<p>
  <a class="btn btn-lg btn-danger" href="/clients/new">Add a New Client!</a>
</p>
<div>
  <a class="btn btn-lg btn-info" href="/">Back to Main</a>
</div>
