<h1>Remove a Stylist from Your Hair Salon</h1>
<% if @stylists.any?() %>
  <ul>
    <% @stylists.each() do |stylist| %>
      <li><%= stylist.name %><form action="/<%= stylist.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" id="delete" class="btn-sm btn btn-danger">
        <span class="glyphicon glyphicon-minus"></span>
        </button>
      </li></form>
    <% end %>
  </ul>
<% else %>
  <h2>There are no Stylists to fire!</h2>
<% end %>
<div>
  <a href="/">Back to Main</a>
</div>
