<h1>Your Hair Salon || <i class="em em-scissors"></i> + <i class="em em-haircut"></i> + <i class="em em-moneybag"></i></h1>
<img src="img/main.jpg" alt="hair salon front image, courtesy of 123rf">
<ul>
  <li><a class="btn btn-lg btn-primary" href="/stylists">Manage Stylists</a></li>
  <li><a class="btn btn-lg btn-success" href="/clients">Manage Clients</a></li>
</ul>
