<h2>Add a Client</h2>
<h3>Please assign a Stylist-- choose wisely!</h3>

<form action="/new_client_form" method="post">
  <label for="new_client_name">Name/Nickname:</label>
  <input id="new_client_name" name="new_client_name" type="text">
  <label for="new_client_contact">Phone OR Email:</label>
  <input id="new_client_contact" name="new_client_contact" type="text">
  <label for="new_client_stylist_id">Stylist:</label>
  <input id="new_client_stylist_id" name="new_client_stylist_id" type="number">

  <p>
  <button type="submit" class="btn-lg btn-success">Add Client</button>
  </p>
</form>
