<h2>Add a Client</h2>
<h3>Please assign a Stylist-- choose wisely!</h3>

<form action="/clients/new" method="post" class="well">
  <ul>
    <li><label for="new_client_name">Name/Nickname:</label>
    <input id="new_client_name" name="new_client_name" type="text"></li>
    <li><label for="new_client_contact">Phone OR Email:</label>
    <input id="new_client_contact" name="new_client_contact" type="text"></li>
    <li><label for="new_client_stylist_id">Stylist:</label>

        <% if @stylists.any?() %>
          <select name="new_client_stylist_id" id="new_client_stylist_id">
            <% @stylists.each() do |stylist| %>
              <option value="<%= stylist.id() %>"><%= stylist.name() %></option>
            <% end %>
          </select>
        <% else %>
          <h4>You have no Stylists! <em>Hire someone!</em></h4>
        <% end %>

  </li>
  </ul>
  <p>
  <button type="submit" class="btn-lg btn-warning">Add Client</button>
  </p>
</form>

<div>
    <a class="btn btn-med btn-success" href="/stylists">Back to All Stylists</a><br>
    <a class="btn btn-lg btn-info" href="/">Back to Main</a>
</div>
