<h2>Current Stylists in Your Hair Salon</h2>
<% if @stylists.any?() %>
  <ul>
    <% @stylists.each() do |stylist| %>
      <li><h2><a href="/stylists/<%= stylist.id() %>">#<%= stylist.id() %> : <%= stylist.name() %>  || <em><%= stylist.contact() %></em></a></h2></li>
    <% end %>
  </ul>
<% else %>
  <h2>You have no employees!</h2>
<% end %>
<p>
  <a class="btn btn-lg btn-success" href="/stylists/new">Add a New Stylist!</a>
</p>

<div>
  <a class="btn btn-lg btn-info" href="/">Back to Main</a>
</div>
